@import "../../../pages/global-variable.scss";

$right-panel-width: 320px;

.container.desktop {
  @media all and (max-width: $xlarge-tablet-landscape-start - 1px) {
    display: none;
  }

  display: flex;

  .left-panel {
    padding: 160px 40px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .title,
    .material {
      width: 100%;
    }

    .title {
      flex: 0 1 auto;
      margin-bottom: 48px;

      h3 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 24px;
      }

      p {
        color: #abacad;
      }
    }

    .material {
      flex: 1 1 auto;

      .tab-wrap {
        width: 100%;

        button {
          width: 50%;
          height: 48px;
          background-color: $light-gray;
          border: 1px solid #e8ebed;
          border-bottom: 1px solid #000;
          font-size: 16px;
        }

        button.active {
          border: 0.2px solid #000;
          border-bottom: 1px solid #fff;
          background-color: #fff;
        }
      }

      .content {
        padding: 16px;

        img {
          width: 100%;
        }
      }
    }
  }

  .right-desktop-panel {
    padding: 160px 0;
    flex: 0 0 auto;
    width: $right-panel-width;
    border-left: $gray-border-line;
    border-right: $gray-border-line;

    .services-wrap {
      padding: 24px;
      border-bottom: $gray-border-line;

      .type-options {
        width: 100%;

        .Dropdown-control {
          margin-top: 16px;
        }
      }

      .package-detail {
        margin-top: 24px;

        ul {
          background-color: $light-gray;
          border: 1px solid #e8ebed;
          margin-top: 16px;
          padding: 24px 16px;

          li {
            display: flex;
            flex-wrap: wrap;
            margin-top: 8px;

            .category-title {
              width: 100%;
              display: flex;
              align-items: center;

              span {
                content: "\2713";
                color: #5d7ab8;
                margin-right: 8px;
              }
            }

            .category-items {
              padding-left: 16px;

              p {
                margin-top: 4px;
              }
            }
          }
        }
      }
    }

    .calcs-wrap {
      padding: 16px;

      .discount,
      .total {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
      }

      .discount {
        border-bottom: $gray-border-line;
        padding-bottom: 16px;

        div {
          text-align: right;
        }
      }

      .total {
        padding: 16px 0 32px;

        p:last-child {
          font-weight: bold;
          font-size: 24px;
        }
      }

      button {
        width: 100%;
        height: 40px;
        background-color: #5d7ab8;
        color: #fff;
        font-size: 16px;
      }
    }
  }
}
