@import "../../../pages/global-variable.scss";

.mobile-detail {
  @media all and (min-width: $xlarge-tablet-landscape-start) {
    display: none;
  }
}

.container.mobile {
  display: flex;
  padding: $header-height + 40px 0 0;

  .material {
    flex: 1;

    .tab-wrap {
      width: 100%;

      button {
        width: 50%;
        height: 48px;
        background-color: $light-gray;
        border: 1px solid #e8ebed;
        border-bottom: 1px solid #000;
        font-size: 16px;
      }

      button.active {
        border: 0.2px solid #000;
        border-bottom: 1px solid #fff;
        background-color: #fff;
      }
    }

    img#one {
      width: 100%
    }
  }

  .title {
    flex: 0 1 auto;
    margin: 24px 0;

    h3 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 24px;
    }

    p {
      color: #abacad;
    }
  }
}

.spec-section {
  background-color: #f0f1f2;
  border-top: $gray-border-line;
  padding: 16px 0;

  .package-detail {
    margin-top: 8px;

    ul {
      li {
        .category {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          margin-top: 8px;

          span {
            content: "\2713";
            color: #5d7ab8;
            margin-right: 8px;
          }
        }

        .item {
          display: flex;
          padding-left: 16px;

          p {
            margin: 4px 12px 0;
          }
        }
      }
    }
  }
}

.calcs-section {
  background-color: #f0f1f2;
  border-top: $gray-border-line;
  padding: 16px 0;

  .discount,
  .total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .discount {
    border-bottom: $gray-border-line;
    padding-bottom: 16px;

    div {
      text-align: right;
    }
  }

  .total {
    padding: 16px 0 32px;

    p:last-child {
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.m-reserve-panel {
  $panel-padding: 12px;
  $reserve-btn-height: 48px;

  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  padding: $panel-padding;
  border: $gray-border-line;

  .slide-btn {
    position: absolute;
    top: 0;
    left: calc(50% - 12px);
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: $gray-border-line;
    background-color: #fff;

    div {
      position: relative;
      margin-left: 50%;
      margin-bottom: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
    }
  }

  .slide-btn-hider {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    width: 100%;
    height: 28px;
    background-color: #fff;
  }

  .slide-btn-hider.open {
    height: 84px;
    background-color: $light-gray;
    border-bottom: $gray-border-line;
  }

  .slide-btn.active {
    background-color: $light-gray;

    div {
      transform: rotate(180deg) translate(50%, -50%);
    }
  }

  .slide-revealed {
    width: calc(100vw - 24px);

    .dropdown-wrap {
      background-color: $light-gray;

      .Dropdown-control {
        position: relative;
        margin: 16px 0 32px;
        z-index: 40;
      }
    }

    .discount,
    .total {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    .discount {
      border-bottom: $gray-border-line;
      padding-bottom: 16px;

      div {
        text-align: right;
      }
    }

    .total {
      padding: 16px 0 32px;

      p:last-child {
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  .reserve-btn {
    z-index: 40;
    position: relative;
    width: calc(100vw - 24px);
    height: $reserve-btn-height;
    background-color: #5d7ab8;
    color: #fff;
    font-size: 20px;
  }
}
